* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
  }
  
  .tile-set {
    display: flex;
    justify-content: center;
  }
  
  .tile {
    padding: 10px;
    text-align: center;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
  }